{%- liquid
  if cart == empty
    render 'icon-cart'
  else
    render 'icon-cart'
  endif
-%}
<div class="cart_count_with_text">
  <span class="header__icon_title">{{ 'templates.cart.cart' | t }}</span>
  <span class="cart_price">{{ cart.total_price | money }}</span>
</div>
<div class="cart-count-bubble">
  {%- if cart.item_count < 100 -%}
    <span aria-hidden="true">{{ cart.item_count }}</span>
  {%- endif -%}
  <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
</div>
